
body {
    display: flex;
    flex: auto;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    font-family: 'VT323', sans-serif;
    font-size: 24px;
    color: red;
    background-color: black;
    margin: 0;
  }