body {
  padding: 25px 50px;
  font-size: 24px;
  margin: 0;
  font-family: 'VT323', sans-serif;
  text-align: center;
  background-color: black;
}

h1 {
  margin-top: 50px;
  font-size: 36px;
  color:gold;
}

p {
  margin-top: 30px;
  font-size: 24px;
  color:white;
}

button {
  box-sizing: border-box;
  height: 40px;
  width: 80px;
  margin: 30px 10px 0;
  padding: 10px 20px;
  font-size: 18px;
  font-family: 'VT323', sans-serif;
  background-color: lightblue;
  border: none;
}

button:hover {
  background-color: rgb(122, 153, 163);
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.fall {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 4500px;
}